@import "tailwindcss";

/* Define the "55 Roman" weight (500) */
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplayRoman.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Define the "65 Medium" weight (600) */
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplayMediu.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Set the base font for the entire site */
body {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
}

@layer utilities {
  .scrollbar-hide {
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.embla {
  overflow: hidden; /* This is the viewport. Hides the overflowing slides. */
  cursor: grab;
  padding-top: 35px;
}
.embla:active {
  cursor: grabbing;
}

.embla__container {
  display: flex; /* Lays out slides in a row */
  align-items: flex-end; /* This keeps your bottom-alignment! */
  gap: 0;
}

.embla__slide img {
  transition: transform 0.2s ease-in-out;
}

/* When an embla slide is hovered... */
.embla__slide:hover img {
  /* ...move the image up by 10 pixels */
  transform: translateY(-30px);
}

.image-carousel .embla__slide {
  flex: 0 0 24%; /* Your desired size for the first carousel */
  min-width: 0;
  padding-bottom: none;
}

.archive-carousel .embla__slide {
  flex: 0 0 24%; /* Your desired size for the second carousel */
  min-width: 0;
}
